[user]
    name = Ricky Nelson
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[diff]
    tool = default-difftool
[merge]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = default-difftool.sh $LOCAL $REMOTE
[difftool]
    prompt = false
[push]
    default = current
[include]
  path = ~/.gitconfig.local
