
emacs/.emacs.d/%backup%~
emacs/.emacs.d/.cache/
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/.nrepl-port
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/backups/
emacs/.emacs.d/bookmarks
emacs/.emacs.d/elpa/
emacs/.emacs.d/elpy/
emacs/.emacs.d/ido.last
emacs/.emacs.d/irony/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/tramp
emacs/.emacs.d/transient
emacs/.emacs.d/undo/
emacs/.emacs.d/url/
emacs/.emacs.d/var/
        
vim/.vim/.netrwhist

weechat/.weechat/logs/
weechat/.weechat/sec.conf
weechat/.weechat/weechat.log


config/.config/GIMP/
config/.config/Hyper/
config/.config/Postman/
config/.config/QtProject.conf
config/.config/Trolltech.conf
config/.config/Zeal/
config/.config/autostart/
config/.config/chromium/
config/.config/configstore/
config/.config/dconf/
config/.config/evolution/
config/.config/exercism/
config/.config/filetypesrc
config/.config/gnome-initial-setup-done
config/.config/google-chrome/
config/.config/gpick/
config/.config/gtk-2.0/
config/.config/gtk-3.0/
config/.config/htop/
config/.config/ibus/
config/.config/inkscape/
config/.config/kdeglobals
config/.config/kdenliverc
config/.config/krulerrc
config/.config/krusaderrc
config/.config/lutris/
config/.config/menus/
config/.config/mimeapps.list
config/.config/nautilus/
config/.config/obs-studio/
config/.config/oni/
config/.config/pulse/
config/.config/stacer/
config/.config/trashrc
config/.config/ulauncher/
config/.config/user-dirs.dirs
config/.config/user-dirs.locale
config/.config/vlc/
config/.config/web-starter-kit/
