[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/javascript-libraries-syntax.vim"]
	path = .vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "angular-vim-snippets"]
	path = angular-vim-snippets
	url = git@github.com:matthewsimo/angular-vim-snippets.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule ".vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = git@github.com:rizzatti/dash.vim.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/bundle/jsoncodecs.vim"]
	path = .vim/bundle/jsoncodecs.vim
	url = https://github.com/michalliu/jsoncodecs.vim.git
[submodule ".vim/bundle/jsruntime.vim"]
	path = .vim/bundle/jsruntime.vim
	url = https://github.com/michalliu/jsruntime.vim.git
[submodule ".vim/bundle/sourcebeautify.vim"]
	path = .vim/bundle/sourcebeautify.vim
	url = git@github.com:michalliu/sourcebeautify.vim.git
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/bundle/dustjs"]
	path = .vim/bundle/dustjs
	url = git@github.com:jimmyhchan/dustjs.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/PreserveNoEOL"]
	path = .vim/bundle/PreserveNoEOL
	url = git@github.com:vim-scripts/PreserveNoEOL.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
