[user]
    name = Ricky Nelson
    email = rickyn@socketwiz.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    askpass = git-gui--askpass
[color]
    ui = true
[diff]
    tool = default-difftool
[merge]
    tool = default-difftool
    conflictstyle = diff3
[difftool "default-difftool"]
    cmd = default-difftool.sh $LOCAL $REMOTE
[difftool]
    prompt = false
[include]
    path = ~/.gitconfig.local
[pull]
    rebase = true
[init]
    defaultBranch = main
[includeIf "gitdir:~/dev/rust/"]
    path = ~/.gitconfig.zolmok
[includeIf "gitdir:~/dev/sorcero-*/"]
    path = ~/.gitconfig.work
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
