# ignore everything
/*

!/.bash_logout
!/.bash_profile
!/.bashrc
!/.deno
!/.profile
!/.zprofile

# Ignore everything in the .ssh directory
.ssh/*
# except for the following files and directories
!/.ssh/config

# Ignore everything in the .config directory
.config/*
# except for the following files and directories
!/.config/Code/**/*
!/.config/Code/**/*
!/.config/alacritty/**/*
!/.config/dunst/**/*
!/.config/fish/**/*
!/.config/gitui/**/*
!/.config/helix/**/*
!/.config/i3/**/*
!/.config/i3status-rs/**/*
!/.config/kitty/**/*
!/.config/nushell/**/*
!/.config/picom.conf
!/.config/rofi/**/*
!/.config/starship.toml
!/.config/sway/**/*
!/.config/termite/**/*
!/.config/tmux/**/*
!/.config/waybar/**/*
!/.config/wezterm/**/*
!/.config/zellij/**/*

# Ignore everything in the .emacs.d directory
.emacs.d/**/*
# except for the following files and directories
!/.emacs.d/dashboard.el
!/.emacs.d/email.el
!/.emacs.d/fira-code.el
!/.emacs.d/init.el
!/.emacs.d/javascript.el
!/.emacs.d/packages.el
!/.emacs.d/python.el
!/.emacs.d/rust.el
!/.emacs.d/settings.el
!/.emacs.d/shell.el
!/.emacs.d/snippets
!/.emacs.d/variables.el

.gitconfig.local
.work
