[user]
    name = Ricky Nelson
	email = rickyn@socketwiz.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[diff]
    tool = default-difftool
[merge]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = default-difftool.sh $LOCAL $REMOTE
[difftool]
    prompt = false
[include]
    path = ~/.gitconfig.local
[pull]
	rebase = true
