
snippet strong "gives emphasis"
<strong>${0:#word}</strong>
endsnippet

snippet span "generic inline container"
<span ${1:id="${2:#id}"}>${0:#word}</span>
endsnippet

snippet br "line break"
<br>
endsnippet
