# log messages
snippet log "Console log message" b
console.log(${1:"${2:value}"});${0}
endsnippet
snippet warn "Console warn message" b
console.warn(${1:"${2:value}"});${0}
endsnippet
snippet error "Console error message" b
console.error(${1:"${2:value}"});${0}
endsnippet
snippet info "Console info message" b
console.info(${1:"${2:value}"});${0}
endsnippet
snippet dir "Console dir message" b
console.dir(${1:"${2:value}"});${0}
endsnippet
