snippet logd "logger.debug"
${1:Rails.}logger.debug "${1:message}"$0
endsnippet

snippet loge "logger.error"
logger.error "${1:message}"$0
endsnippet

snippet logf "logger.fatal"
logger.fatal "${1:message}"$0
endsnippet

snippet logi "logger.info"
logger.info "${1:message}"$0
endsnippet

snippet logw "logger.warn"
logger.warn "${1:message}"$0
endsnippet

