"*":
  "exception-reporting":
    userId: "c57239b7-0cf4-58b9-b90e-706c095145bc"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "language-java"
      "language-perl"
    ]
  editor:
    invisibles: {}
    tabLength: 4
  minimap: {}
